/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --navy: #00224f;
  --blue: #0b3b67;
  --yellow: #ffc928;
  --light-bg: #f5f7fa;
}

/* Container */
.about-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ===== Header ========= */
.header{
  height: 10vh;
  top: 0;
  width: 100%;
  background: #00224f;
  z-index: 1000;
  transition: 0.3s;
}

.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 30px;
  cursor: pointer;
}

.username a{
  margin-right: 30px;
  text-decoration: none;
  color: #00224f;
  background-color: white;
  padding: 13px 22px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.username a:hover{
  transform: translateY(-3px);
  background-color: #8c9397;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav li a{
  text-decoration: none;
  color: rgb(250, 248, 248);
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav li a:hover{
  color: #0ca2ff;
  border-bottom: 2px solid #0ca2ff;
  padding-bottom: 3px;
}

/* HERO SECTION */
.about-hero {
  border-bottom: #00224f 4px solid;
  height: fit-content;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
   
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  padding: 0;
  /* align-items: center; */
  min-height: auto;
  margin-bottom: 1px;
  padding-bottom: 1px;
}
.about-container {
  margin-top: 5px;
    width: 100%;
    max-width: fit-content;   
    margin: 10px 90px;      
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

 
 

.about-left h1 {
  font-size: 3.4rem;
  font-weight: 800;
  color: var(--navy);
  margin-left: 0px;
}

.highlight {
  color: var(--yellow);
}

.hero-text {
  margin: 20px 0;
  color: #444;
  font-size: 1.1rem;
  max-width: 800px;
}

.hero-btns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Buttons */
.btn-blue,
.btn-yellow {
  padding: 14px 32px;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-blue {
  background: var(--blue);
  color: white;
}

.btn-blue:hover {
  background: #062a49;
}

.btn-yellow {
  background: var(--yellow);
  color: var(--blue);
}

.btn-yellow:hover {
  background: #e7b420;
}

.about-right {
 
    flex: 5; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right img {
    width: 100%;
    max-width: 1500px;  
    
    object-fit: contain;
}

@keyframes faded {
  0%{
    
  }
}



/* STORY SECTION */
.journey {
   
    padding: 80px 80px;
    max-width: 1100px;
    margin: auto;
}

.journey-heading {
  text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: #00306e;
    margin-bottom: 25px;
    line-height: 1.1;
}

.journey p {
    text-align: center;
    font-size: 1.15rem;
    color: #444;
    line-height: 1.75;
    margin-bottom: 20px;
}


/* WHY CHOOSE US */
.why-us {
  border-top: #00224f 4px solid;
  justify-content: flex-start;
  display: flex;
  background: #f0f4ff;
  padding: 80px 0;
}

.why-us h2 {
  text-align: center;
  font-size: 2.4rem;
  color: var(--navy);
}
.about-title h2{
  display: block;
}
.why-grid {
  margin-top: 50px;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 30px;
  display: flex;
}
.about-containers{
  padding: 0 60px;
}

.why-card {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.why-card:hover {
  transform: translateY(-10px);
}

.why-card img {
  width: 70px;
}

.why-card h3 {
  color: var(--blue);
  margin-top: 12px;
}

/* STATS */
.stats-container {
  border-top: #00224f 4px solid;
height: 30vh;
border-bottom: 4px solid;
border-image: linear-gradient(to right, #083765, #f4b41a) 1;
width: 100%;
text-align: center;
padding: 19px 0;
background: linear-gradient(135deg, #f0bf2d28, #08659e27);
}


.heading {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 3vh;
font-weight: 400;
color: #0d2440;
margin-bottom: 40px;
}


.stats-grid {
display: flex;
justify-content: center;
gap: 120px;
}


.stat-box {
text-align: center;
}


.number {
font-size: 64px;
font-weight: 700;
color: #083765;
}


.number.yellow {
color: #e8d108;
}


.label {
margin-top: 10px;
font-size: 14px;
letter-spacing: 1px;
font-weight: 600;
color: #0d2440;
}

/* TEAM SECTION */
.team {
  padding: 80px 0;
  background: #fafafa;
}

.team h2 {
  text-align: center;
  font-size: 2.4rem;
  color: var(--navy);
}

.team-intro {
  text-align: center;
  margin: 10px auto 40px;
  max-width: 700px;
  color: #555;
}

.team-grid {
  display: flex;
  justify-content: space-evenly;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  gap: 0px;
  padding: 0 50px;
}

.team-card {
  background: white;
  border-radius: 18px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
  width: 400px;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card img {
  width: 100%;
  height: 260px;
  border-radius: 14px;
  object-fit: cover;
}

/* CTA */
.cta {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(135deg, #c3d8ff, #f5f7fa);
}

.cta h2 {
  font-size: 2.6rem;
  color: var(--navy);
}

.cta p {
  color: #444;
  margin: 15px auto 30px;
  max-width: 600px;
}

.big-btn {
  padding: 18px 42px;
  font-size: 1.2rem;
  border-radius: 14px;
}


/* FOOTER SECTION */
.footer {
  justify-content: center;
    align-items: center;
    height: 80vh;
    background: #110e2d;
    padding: 10px 80px;
    font-family: Arial, sans-serif;
    display: grid;
}

 
.footer-top {
    
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content:center ;
    gap: 40px;
    align-items: flex-start;
    padding: 20px 30px;
}

.col-left{
  margin-right: 200px;
}
.logo{
  border-bottom: #f4f0f0b1 1px solid;

}

.icons{
  display: flex;
  color: white;
  margin-top: 10px;
  
}
.col-left p{
  color: white;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 1.2rem;
}
 

 
.icons i{
  margin-left: 20px;
  font-size: 1.5rem;
  
  margin-top: 2px;
  
  align-items: center;
  justify-content: center;
}



 .col{
  width: 10%;
 }


.col p {
  line-height: 1.6;
  margin-left: 1px;
  font-size: 17px;
  color: white;
  padding-top: 5px;;
}
.col-contact h3{
  margin-left: 10px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 5px;
  
}
.col-contact p{
  line-height: 1.6;
  margin-left: 10px;
  font-size: 17px;
  color: white;
  padding-top: 5px;
}

.col-contact i{
  margin-right: 10px;
}
.col-company h3{
  color: white;
  font-size: 1.2rem;
  margin-bottom: 5px;
  
}
.col-company p{
  line-height: 1.6;
 
  font-size: 17px;
  color: white;
  padding-top: 5px;
}
 
 

.icons span {
    width: 15px;
    height: 15px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}

/* Headings in Yellow */
.col h3 {
     
    color: white;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

 
.footer-section {
   border-bottom: white 1px solid;;
    text-align: center;
    margin-top: 40px;
   
}

.footer-section h2 {
    color:  white;
    margin-bottom: 20px;
}

.footer-section p {
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
     margin-bottom: 30px;
   
}
.footer-section .coming-soon  {
    color: rgba(253, 251, 251, 0.574);
    font-size: 1rem;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
     margin-bottom: 30px;
   
}
 
 

 
.footer-bottom {
  justify-content: space-between;
  display: flex;
  margin-bottom: 3px;
  margin-top: 30px;
}

.right{
  text-align: right;
}
.left{
  text-align: left;
 
}
.footer-bottom p {
    margin-bottom: 1px;
    color: white;
    font-size: 0.9rem;
    
}


